
.list-wrapper {
    width: 272px;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    background-color: #ebecf0;
    border-radius: 3px;
    text-align: left;
    padding: 0px 5px 20px;
    margin: 20px 6px;
}
.list-cards {
    flex: 1 1 auto;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 0;
}
.list-header {
    flex: 0 0 auto;
    padding: 0px 8px;
    position: relative;
    min-height: 20px;
    margin: 15px 0px 0px;
}
.list-card {
    width: calc(25% - 53px);
    display: inline-block;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    background: #ebecf0c9;
    border-radius: 5px;
    border: none;
}

.list-card input {
    width: -webkit-fill-available;
}

.list-card-details {
    overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;
    z-index: 10;
    background-color: #fff;
    margin: 10px 0px;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
}

.list-card-details p{
    clear: both;
    display: block;
    margin: 0 0 4px;
    overflow: hidden;
    text-decoration: none;
    word-wrap: break-word;
    color: #172b4d;
    font-weight: 300;
    font-size: 1rem;
    padding: 5px;
}